{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
    Leader list
{% endblock %}

{% block content %}
    {% if leader_list %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                  <th>№</th>
                  <th>User name</th>
                  <th>Average score</th>
                  <th>Num of tests passed</th>
                  <th>Last run</th>
                  <th>Percent of tests passed</th>
                </tr>
            </thead>
            {% for leader in leader_list %}

                <tr>
                  <td> {{ leader.id }} </td>
                  <td> {{ leader.user.username }}</td>
                  <td> {{ leader.user.avr_score }}</td>
                  <td> {{ leader.user.tests_list_passed }}</td>
                  <td> {{ leader.user.test_last_run }}</td>
                  <td> {{ leader.user.percent }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="p-1 m-1">
            {% include 'includes/pagination.html' %}
        </div>


    {% else %}
        <p>Sorry, list is empty</p>
    {% endif %}

{% endblock %}
